LED_STATUS = True
WIFI_COUNTRY_CODE = "DE"
WIFI_SSID = <NAME OF WIFI NETWORK>
WIFI_PASSWORD = <PASSWORD>
USE_LIGHT_SLEEP = True
SLEEP_DURATION = 300
SENSOR_GPIO_PIN = 15
HOST_DB = <INFLUX_HOST_IP:PORT>
DATABASE = <NAME OF DATABASE>
MEASUREMENT = <NAME OF MEASUREMENT>
INFLUXTAG = <INFLUX TAG KEY>
INFLUXTAG_VALUE = <INFLUX TAG VALUE>
